<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  DocumentRoot /var/www/nextcloud
  <Directory /var/www/nextcloud>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>
  ErrorLog ${APACHE_LOG_DIR}/nextcloud-error.log
  LogLevel warn
  CustomLog ${APACHE_LOG_DIR}/nextcloud-access.log combined
</VirtualHost>
